.toolbar_wrapper {
	@apply w-full;
}

.toolbar {
	@apply h-20 bg-slate-100;
	@apply flex justify-between items-center pl-4 pr-4;
}

.toolbar_icon_wrapper {
	@apply flex flex-row gap-4;
}

.toolbar_icon {
	@apply w-14 h-14 bg-white flex justify-center items-center rounded-full drop-shadow-2xl;
}

.toolbar_searchinput_wrapper {
	@apply flex flex-row items-center gap-4;
}

.toolbar_searchinput {
	@apply h-12 w-96 pl-4 rounded-xl drop-shadow-2xl;
}

.toolbar_window_commands_wrapper {
	@apply flex flex-row gap-2;
}
