@import './global/settings.css';
@import './global/typography.css';
@import './global/webfonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.draggable {
	-webkit-app-region: drag;
}
